[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dibble"]
	path = dibble
	url = https://github.com/uchidamizuki/dibble
[submodule "japanstat"]
	path = japanstat
	url = https://github.com/cran/japanstat
[submodule "jpcity"]
	path = jpcity
	url = https://github.com/uchidamizuki/jpcity
[submodule "jpgrid"]
	path = jpgrid
	url = https://github.com/uchidamizuki/jpgrid
[submodule "jpstat"]
	path = jpstat
	url = https://github.com/uchidamizuki/jpstat
[submodule "navigatr"]
	path = navigatr
	url = https://github.com/uchidamizuki/navigatr
[submodule "partialised"]
	path = partialised
	url = https://github.com/uchidamizuki/partialised
[submodule "stickyr"]
	path = stickyr
	url = https://github.com/uchidamizuki/stickyr
[submodule "timbr"]
	path = timbr
	url = https://github.com/uchidamizuki/timbr
